<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="background-color: brown; color: beige;" href="#">Contact Management</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="color: black;" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: black;" routerLink="/add">Add Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>